pygame>=2.0.0
pillow>=9.0.0 # For image handling, including PNG for icons
PyQt5>=5.15.0 # For PyQt5 GUI
mutagen>=1.45.0 # For reading audio metadata (track names, album art)
scikit-build>=0.18.1
scikit-build-core>=0.11.5
